[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
blue-chip = "*"

[packages]
fastapi = "*"
pywit = "*"
requests = "*"
uvicorn = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
